{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cookbook</title>

    <meta name="description" content="CS564 Project">
    <meta name="author" content="Bradley">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>

<body>

<!-- NavBar -->
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'cookbook:index' %}">Cookbook</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'cookbook:advanced_search' %}">Advanced Search</a>
                    </li>
                </ul>

                <!-- Search Button -->
                <form action="{% url 'cookbook:search_recipes' %}" class="navbar-form navbar-left" role="search"
                      method="GET">
                    <i class="material-icons">search</i>{{ simple_search_form.search_term }}
                    <input type="submit" value="Submit" class="btn btn-default"/>
                </form>
                <!-- Search Button -->

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'cookbook:login' %}">Sign In</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<strong
                                class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'cookbook:create_user_account' %}">Create Account</a></li>
                            <li>
                                <a href="{% if request.user %} {% url 'cookbook:user_profile' %} {% else %} {% url 'cookbook:login' %} {% endif %}">User
                                    Profile</a></li>
                            <li><a href="{% url 'cookbook:password_change' %}">Change Password</a></li>
                            <li><a href="#">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- End NavBar -->

<!-- Container for Content -->
<div class="content container">
    <div class="row">
        <div class="col-md-8">

            <!-- Content -->
            {% block content %}
            {% endblock %}
            <!-- End Content -->

        </div>
    </div>
</div>
<!-- End Container -->

<script src="{% static 'cookbook/js/jquery.min.js' %}"></script>
<script src="{% static 'cookbook/js/bootstrap.min.js' %}"></script>
<script src="{% static 'cookbook/js/scripts.js' %}"></script>
</body>
</html>
