{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Cookbook</title>

		<meta name="description" content="CS564 Project">
		<meta name="author" content="Bradley">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
		integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	</head>

	<body>

		<!-- NavBar -->
		<nav class="navbar navbar-light bg-faded" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'cookbook:index' %}">Cookbook</a>
				</div>

				<!-- Left side of nav bar -->
				<ul class="nav navbar-nav navbar-left">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'cookbook:advanced_search' %}">Advanced Search</a>
					</li>
					<li class="nav-item">
						<form class="form-inline float-right" action="{% url 'cookbook:advanced_search' %}" method="GET">
							{{ simple_search_form.recipe_name_search_term }}
							<input type="submit" value="Search Recipes" class="btn btn-secondary"/>
						</form>
					</li>
				</ul>
				<!-- Left side of nav bar -->

				<!-- Right side of nav bar -->
				<ul class="nav navbar-nav navbar-right float-xs-right">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'cookbook:login' %}">Sign In</a>
					</li>
					<!-- Dropdown menu -->
					<li class="nav-item dropdown">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Account
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="{% url 'cookbook:create_user_account' %}">Create User Account</a>
							<a class="dropdown-item" href="{% url 'cookbook:user_profile' %}">User Profile</a>
							<a class="dropdown-item" href="{% url 'cookbook:change_preferences' %}?next=/cookbook">Change Nutrition Preferences</a>
							<a class="dropdown-item" href="{% url 'cookbook:logout' %}?next=/cookbook">Log Out</a>
						</div>
					</li>
					<!-- Dropdown menu -->
				</ul>
				<!-- Right side of nav bar -->

			</div>
		</nav>
		<!-- NavBar -->

		<div class="container-fluid">
			<p>
				<!-- Content -->
				{% block content %}
				{% endblock %}
				<!-- End Content -->
			</p>
		</div>
		<!-- Container for Content -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
			integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
		integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
	crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
	integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
crossorigin="anonymous"></script>
	</body>
</html>
