{% extends 'base.html' %} 
{% block content %}
<form>
    <h3>{{ recipe.title }}</h3>
    <h4>Description</h4>
    <p>{{ recipe.description }}</p>
    <ul>
        {% for ingredient in recipe.recipeingredient_set.all %}
        <li>{{ ingredient }} </li>
        {% endfor %}
    </ul>
    <br>
    <h4>Preparation Instructions</h4><br>
    <p>
        {{ recipe.instructions }}
    </p><br>
    <a class="btn btn-default" href="{% url 'favorite' recipe.id %}">
                            Favorite Recipe
                        </a>
    <button type="button" class="btn btn-default">
                            Modify Recipe
                        </button>
</form>
{% endblock %}
