{% extends 'base.html' %}
{% block content %}

<!-- Recipe Thumbnails -->
{% if recipe_list %}
{% for recipe in recipe_list %}
<div class="col-lg-6">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">{{ recipe.title }}</h4>
            <p class="card-text">{{recipe.description}}</p>
            <a class="btn btn-primary" href="{% url 'cookbook:recipe_detail' recipe.id %}">View Recipe</a>
        </div>
    </div>

</div>
{% endfor %}
{% else %}
<p>No recipes are available.</p>
{% endif %}

<!-- Pagination -->
<div class="text-center">
    <ul class="pagination pagination-lg">
        <li class="page-item">
            <a class="page-link" href="{% url 'cookbook:index' %}">Next</a>
        </li>
    </ul>
</div>
<!-- Pagination -->
{% endblock %}
