{% extends 'base.html' %}
{% block content %}

<!-- Recipe Thumbnails -->
{% if recipe_list %}
{% for recipe in recipe_list %}
<div class="col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <h3>
                {{ recipe.title }}
            </h3>
            <p>
                {{recipe.description}}
            </p>
            <p>
                <a class="btn btn-primary" href="{% url 'cookbook:detail' recipe.id %}">View Recipe</a>
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p>No recipes are available.</p>
{% endif %}
<!-- Recipe Thumbnails -->

</div>

</div>

<!-- Pagination -->
<div class="text-center">
    <ul class="pagination">
        <li><a href="#">Prev</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>
<!-- Pagination -->
{% endblock %}
