{% extends 'base.html' %}

{% block content %}

{% if error_message %}
<div class="alert alert-danger" role="alert">
  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
  {{ error_message }}
</div>
{% endif %}

<div class="row">

  <!-- Recipe Information -->
  <div class="col-lg-7">
    <h3>
      {{ recipe.title }}
      {% if favorite_star_filled %}
      <a href="{% url 'cookbook:favorite' recipe.id %}"><i class="fa fa-star" aria-hidden="true"></i></a>
      {% elif show_favorite_star %}
      <a href="{% url 'cookbook:favorite' recipe.id %}"><i class="fa fa-star-o" aria-hidden="true"></i></a>
      {% endif %}
    </h3>
    <h6><small>Serves {{ recipe.serves }}</small></h6><br>
    <h5>Description</h5>
    <p>{{ recipe.description }}</p><br>
    <h5>Ingredients</h5>
    <ul>
      {% for ingredient in recipe.recipeingredient_set.all %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
    <br>
    <h5>Preparation Instructions</h5>
    <p>
      {{ recipe.instructions }}
    </p><br>
    <p>
      {% for recipe_tag in recipe.recipetag_set.all %}
      <a class="tag tag-pill tag-primary" href="{% url 'cookbook:tag_search' recipe_tag.tag.tag_name %}">
        {{ recipe_tag.tag.tag_name }}</a>
      {% endfor %}
    </p>
  </div>
  <!-- Recipe Information -->

  <!-- Ingredient/Nutrient Information -->
  <div class="col-lg-5">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Nutritional information per serving</h3>
        <ul>
          {% for nutrient_id, nutrient in nutrients.items %}
          <li>{{nutrient.amount}} {{nutrient.unit}} {{nutrient.name}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!-- Ingredient/Nutrient Information -->

</div>

{% endblock %}
