{% extends 'base.html' %}
{% load humanize %}
{% block content %}

{% if error_message %}
<div class="alert alert-danger" role="alert">
  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
  {{ error_message }}
</div>
{% endif %}

<div class="row">

  <!-- Recipe Information -->
  <div class="col-md-8">
    <h2>
      {{ recipe.title }}
      {% if favorite_star_filled %}
      <a href="{% url 'cookbook:favorite' recipe.id %}"><i class="fa fa-star" aria-hidden="true"></i></a>
      {% elif show_favorite_star %}
      <a href="{% url 'cookbook:favorite' recipe.id %}"><i class="fa fa-star-o" aria-hidden="true"></i></a>
      {% endif %}
    </h2><hr>
    <p>{{ recipe.description }}</p><br>
    <h5>Ingredients</h5>
    <ul>
      {% for ingredient in recipe.recipeingredient_set.all %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
    <br>
    <h5>Preparation Instructions</h5>
    <p>
      {{ recipe.instructions }}
    </p><br>
    <p>
      {% for recipe_tag in recipe.recipetag_set.all %}
      <a class="tag tag-pill tag-primary" href="{% url 'cookbook:tag_search' recipe_tag.tag.tag_name %}">
        {{ recipe_tag.tag.tag_name }}</a>
      {% endfor %}
    </p>
  </div>
  <!-- Recipe Information -->

  <!-- Nutrient Information -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-block">
        <h1 class="card-title"><strong>Nutrition Facts</strong></h2><h1>
          <h6>Servings Per Recipe About {{ recipe.serves }}</h6><br>
          <h6><small>Amount Per Serving</small></h6><hr>
          <h4 style="text-align:left">
            <strong>Calories</strong>
            <span style="float:right;">{{ recipe.calories }}</span>
          </h4>
          <!-- Standard displayed nutrients -->
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Total Fat</strong></td>
                <td align="right">{{ nutrition_label.totalfat.amount|floatformat:2 }} {{ nutrition_label.totalfat.unit }}</td>
              </tr>
              <tr>
                <td>&emsp;&emsp;Sat Fat</td>
                <td align="right">{{ nutrition_label.satfat.amount|floatformat:2 }} {{ nutrition_label.satfat.unit }}</td>
              </tr>
              <tr>
                <td>&emsp;&emsp;Trans Fat</td>
                <td align="right">{{ nutrition_label.transfat.amount|floatformat:2 }} {{ nutrition_label.transfat.unit }}</td>
              </tr>
              <tr>
                <td><strong>Chol</strong></td>
                <td align="right">{{ nutrition_label.cholesterol.amount|floatformat:2 }} {{ nutrition_label.cholesterol.unit }}</td>
              </tr>
              <tr>
                <td><strong>Sodium</strong></td>
                <td align="right">{{ nutrition_label.sodium.amount|floatformat:2 }} {{ nutrition_label.sodium.unit }}</td>
              </tr>
              <tr>
                <td><strong>Carbs</strong></td>
                <td align="right">{{ nutrition_label.carb.amount|floatformat:2 }} {{ nutrition_label.carb.unit }}</td>
              </tr>
              <tr>
                <td>&emsp;&emsp;Fiber</td>
                <td align="right">{{ nutrition_label.fiber.amount|floatformat:2 }} {{ nutrition_label.fiber.unit }}</td>
              </tr>
              <tr>
                <td>&emsp;&emsp;Sugars</td>
                <td align="right">{{ nutrition_label.sugars.amount|floatformat:2 }} {{ nutrition_label.sugars.unit }}</td>
              </tr>
              <tr>
                <td><strong>Protein</strong></td>
                <td align="right">{{ nutrition_label.protein.amount|floatformat:2 }} {{ nutrition_label.protein.unit }}</td>
              </tr>
            </tbody>
          </table><br>
          <!-- Standard displayed nutrients -->
          <!-- User preference nutrients -->
          <h5><strong>My Nutrients</strong></h5>
          <table class="table">
            <tbody>
              {% for nutrient_id, nutrient in nutrients.items %}
              <tr>
                <td><strong>{{ nutrient.name }}</strong></td>
                <td align="right">{{ nutrient.amount|floatformat:2 }} {{ nutrient.unit }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- User preference nutrients -->
        </div>
      </div>
    </div>
    <!-- Nutrient Information -->

  </div><hr><br>

  <!-- Sort ingredients -->
  <div class="col-md-3">
    <h3 class="bd-title">Sort ingredients by nutrient</h3><br>
    <form method="post" action="{% url 'cookbook:recipe_detail' recipe.id %}">
      <p>Select the nutrients you would like to see for each recipe.</p>

      {% csrf_token %}
      <div class="form-group">
        {{sort_ingredients_form}}
      </div>

      <input type="submit" value="Sort ingredients" class="btn btn-primary"/>
    </form>
  </div>

  {% if sorted_ingredients %}
  <div class="col-md-5">
    <h5>In order of increasing {{ sorted_by }}</h5>
    <table class="table">
      <tbody>
        {% for name, amount in sorted_ingredients %}
        <tr>
          <td>{{ name }}</td>
          <td>{{ amount }}</td>
        </tr>
        {% endfor %}
    </tbody></table>
  </div>
  {% endif %}
  <!-- Sort ingredients -->

</div>

{% endblock %}
