{% extends "base.html" %}
{% block content %}

<p>This is saved search {{ saved_search.search_name }}</p>

  <!-- Search results -->
  <div class="col-md-8">
    {% if search_results %}
    <h3>Search results</h3>
    <ul class="list-unstyled">
      {% for recipe in search_results %}
      <li><a href="{% url 'cookbook:recipe_detail' recipe.id %}">{{ recipe.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if no_matches %}
    <h3>No matching search results</h3>
    {% endif %}
  </div>
  <!-- Search results -->

{% endblock content %}
