{% extends "base.html" %}
{% block content %}
{% load static %}
<h4 class="bd-title">Welcome to you user profile, {{ user.username }}</h4>
<hr><br>

<div class="row">

  <!-- Favorited Recipes -->
  <div class="col-md-6">
    <h3>Favorite Recipes</h3>
    <div class="list-group">
      {% if user.userfavorite_set.all %}

      {% for recipe_relation in user.userfavorite_set.all %}
      <a class="list-group-item list-group-item-action"
        href="{% url 'cookbook:recipe_detail' recipe_relation.recipe.id %}">
        <h5 class="list-group-item-heading">{{ recipe_relation.recipe }}</h5>
        <p>{{ recipe_relation.recipe.description }}</p>
      </a>
      {% endfor %}

      {% else %}
      <div class="list-group-item">
        <p>No Favorites</p>
      </div>
      {% endif %}
    </div>
  </div>
  <!-- Favorited Recipes -->

  <div class="col-md-3">

    <!-- Most favorited tag -->
    <h3>Most Favorited Tag</h3>
    <ul class="list-group">
      {% if most_favorited_tag.tag_name %}
      <div class="list-group-item">
        <a href="{% url 'cookbook:tag_search' most_favorited_tag.tag_name %}">
          {{ most_favorited_tag.tag_name }}</a>
      </div>
      <!-- <p>Click to see more recipes with this tag</p> -->
      {% else %}
      <div class="list-group-item">
        <p>No Favorites</p>
      </div>
      {% endif %}
    </ul><br>
    <!-- Most favorited tag -->

    <!-- Saved Searches -->
    <h3>Saved Searches</h3>
    <ul class="list-group">
      {% if user.savedsearch_set.all %}

      {% for saved_search in user.savedsearch_set.all %}
      <li class="list-group-item">
        <a href="{% url 'cookbook:saved_search_detail' saved_search.id %}">
          {{saved_search.search_name}}
        </a>
        <a href="{% url 'cookbook:delete_saved_search' saved_search.id %}">
          <i class="material-icons md-dark md-18 float-xs-right">delete</i>
        </a>
      </li>
      {% endfor %}

      {% else %}
      <div class="list-group-item">
        <p>No Saved Searches</p>
      </div>
      {% endif %}
    </ul>
    <!-- Saved Searches -->

  </div>

</div>

{% endblock content %}
